.shakara-wrapper {
  background-image: url("../images/Shakaramedia.PNG");
  background-color: #7d0894;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.shakara-container {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: block;
}

.shakara-flx {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80%;
  margin: 10% auto;
  height: 100%;
}
.shakara-flx h1 {
  font-size: 600%;
}
.shakara-flx p,
span {
  margin-left: 5%;
}
.shakara-flx h3 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}
.shakara-flx .prj-nav {
  margin-top: 60px;
}

/* ----next section ----- */
.content-cover {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 40px;
  background-color: rgb(242, 241, 239);
  color: rgb(83, 83, 80);
}

.shakara-sndflx {
  width: 83%;
  height: 100%;
  display: flex;
  gap: 8%;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: auto;
  margin: 0 auto;
}
.shakara-sndflx img {
  border: 1px solid #000;
  border-radius: 20px;
}
.shakara-sndflx h1 {
  font-size: 500%;
  font-weight: 600;
  color: #000;
  margin-bottom: 40px;
}
.shakara-sndflx p {
  font-size: 16px;
  margin: 15px 0 20px 0;
  width: 70%;
  line-height: 25px;
}
.left-item {
  width: 50%;
  padding-top: 50px;
}
.left-item2 {
  width: 70%;
  padding-top: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
}
.push-right {
  float: right;
  width: 40%;
  margin-right: 100px;
}

.right-item {
  width: 35%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sha-mob {
  width: 250px;
  height: 80%;
  margin-top: 40px;
}
.sha-dsk {
  width: 100%;
  height: 80%;
  margin-bottom: 40px;
}
span img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.content-md,
.content-sh {
  height: 100vh;
  width: 100%;
  background-color: rgb(242, 241, 239);
  color: rgb(83, 83, 80);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.conent-items {
  width: 100vh;
  margin: 0 auto;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.conent-items h5 {
  width: 60%;
}
.conent-items h4 {
  width: 70%;
  float: left;
  text-align: left;
  margin: 30px 0 0 10px;
  line-height: 35px;
}
.conent-items span img {
  width: 32%;
  height: 32%;
  object-fit: cover;
  padding: 10px;
  object-position: left;
}
.conent-items div img {
  margin: 40px 15%;
  border-radius: 25px;
  height: 60%;
  width: 60%;
}
.introd {
  width: 70%;
  margin: 0 auto;
}
.introd img,
.introd p {
  width: 90%;
}
.introd img {
  border-radius: 30px;
  margin-top: 30px;
}

.sh-box {
  background-color: rgb(193, 193, 191);
  color: rgb(83, 83, 80);
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sh-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  gap: 5%;
  width: 85%;
  height: 100%;
  margin: auto;
}
.sh-box h2 {
  font-weight: 600;
  color: #000;
}
.sh-flex div {
  width: 30%;
  margin: 60px 0;
}
@media screen and (max-width: 820px) {
  .shakara-container .myport-theme h1 {
    font-size: 600%;
  }
  .shakara-container .myportfolio-item .myportfolio-desc {
    width: 80%;
  }
  .shakara-sndflx {
    flex-direction: column;
    margin: 0 20%;
  }
  .left-item {
    width: 100%;
  }
  .left-item2 {
    width: 100%;
    margin-right: 40px;
  }
  .left-item2 p {
    width: 100%;
  }
  .left-item2 img {
    width: 80%;
    height: 80%;
  }

  .right-item {
    width: 90%;
  }
  .right-item img {
    display: none;
  }
  .push-right p {
    margin-top: 20px;
  }
  .sh-box {
    height: 90vh;
  }
  .sh-flex {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .sh-flex div {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .shakara-flx h1 {
    font-size: 450%;
  }
  .content-cover {
    padding-left: 0;
  }
  .push-right {
    width: 70%;
  }
  .push-right p {
    margin-top: 20px;
  }
  .content-md {
    padding: 0;
    margin: 0;
  }
  .conent-items {
    width: 100%;
    margin: 0;
  }
  .conent-items span {
    width: 90%;
    padding: 0;
  }
  .conent-items img {
    width: 100%;
    margin-left: 5%;
    padding: 0;
  }
  .conent-items span img {
    width: 62%;
    height: 30%;
    margin-left: 15%;
    padding: 3px;
  }
  .conent-items div img {
    margin: 40px 15%;
    border-radius: 25px;
    height: 60%;
    width: 60%;
  }
  .introd {
    width: 85%;
    margin-left: 12%;
    padding: 0;
  }
  .sh-flex p {
    text-align: left;
  }
  .introd p {
    padding-top: 30px;
  }
}
@media screen and (max-width: 530px) {
  .shakara-flx h1 {
    font-size: 350%;
  }
  .shakara-flx h3 {
    font-size: 150%;
  }
  .shakara-sndflx .left-item h1 {
    margin-left: -70px;
  }
}
@media screen and (max-width: 415px) {
  .shakara-flx h1 {
    font-size: 300%;
  }
  .shakara-flx h3 {
    font-size: 120%;
  }
  .shakara-sndflx .left-item h1 {
    margin-left: -40px;
    font-size: 400%;
  }

  .shakara-sndflx .left-item h5,
  .shakara-sndflx .left-item p {
    text-align: left;
    width: 85%;
    margin-left: -30px;
  }
  .push-right h5,
  .push-right p {
    text-align: left;
    width: 100%;
  }
  .introd p {
    text-align: left;
  }
}
