@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;700&display=swap');

a {
    text-decoration: none;
    color: white;
    
}
a:hover {
    text-decoration: none;
    color: white;
}

.NavbarItems {
    background-color: rgba(37, 39, 49, 0.938);
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    z-index: 1000;
    font-size: 300%;
}

.navbar-logo {
    color: white;
    justify-self: start;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transform: translate(20%, 12%);
    
}


.navbar-logo span {
    color: hsl(46, 97%, 39%);
    font-weight: 700;
    font-family: 'Roboto';
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    color: white;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    width: 70vw;
    margin-right: 2rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    margin-top: 10px;
    font-size: 13px;
}

.nav-link:hover {
    box-shadow: 1px 3px 1px 1px hsl(46, 97%, 39%);
    /* font-size: 14px; */
    animation: mymove 3s infinite;
    transition: all 0.3s ease-out;
}

.menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}


@media screen and ( max-width: 860px) {
    .navbar-wrapper {
        width: 100vw;
        background-color: rgba(37, 39, 49, 0.938);
    }

    .NavbarItems {
        position: relative;
        width: 95%;
        margin: 0 auto;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        height: 100vh;
        top: 42px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: center;
    }
    .nav-menu.active {
        transition: all 0.5s ease;
        left: 0;
        opacity: 1;
        z-index: 1;
        background: rgba(15, 16, 22, 0.952);
    }

    .nav-link {
        text-align: center;
        padding: 30px;
        width: 100%;
        display: table;
        font-size: 18px;
        align-items: center;
        align-content: center;
        padding: 0.4rem 1rem;
        margin-top: 25px;
    }
    
  
    .nav-link:hover {
        font-size: 20px;
        transition: all 0.2s ease-out;
    }
    .menu-icon {
        display: block;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 25px 0 0; 
    }
}

@media screen and (max-width: 500px) {
    .navbar-wrapper {
        width: 100vw;
        background-color: rgba(37, 39, 49, 0.938);
    }

    .NavbarItems {
        position: relative;
        width: 99%;
        margin: 0 auto;
    }
}