/* Start of horizontalScroll style */
.blog-prj-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: Roboto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
}

.bg1 {
  background-color: rgb(31, 30, 29);
}
.bg2 {
  background-color: rgb(12, 24, 49);
}

.slider-flex {
  display: flex;
  gap: 8%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
}

.slider-item-left i {
  font-size: 14px;
}
.slider-item-left .exp-label-items i {
  font-size: 12px;
}
.slider-item-left h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.slider-item-left {
  width: 45%;
}
.slider-item-left .exp-label-items {
  margin-left: 0;
}
.slider-item-left h1 {
  font-size: 500%;
}

.slider-item-right img {
  height: 620px;
  object-fit: cover;
  width: 100%;
  mix-blend-mode: lighten;
}

/* Content on the right page*/

.blog-descr-image {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.down-nav i {
  position: absolute;
  bottom: 0;
  right: 1%;
  font-size: 50px;
  z-index: 1000;
  cursor: pointer;
}
.down-nav i:hover {
  /* color: rgb(245, 171, 33); */
  transform: scale(1.09);
  mix-blend-mode: difference;
}
.scroll-down {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 160px;
  right: 5px;
  mix-blend-mode: difference;
}

/* ---third slida page---- */
.slida-flex {
  display: flex;
  gap: 8%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}
.slida-flex .slider-item-left {
  width: 42%;
}
.slida-flex .slider-item-right {
  width: 30%;
}
.slida-flex .slider-item-right img {
  width: 300px;
  height: 600px;
}

.more-content {
  height: 100vh;
  min-height: 1000px;
  background-color: #fff;
  color: rgb(107, 103, 103);
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
  scroll-snap-align: start;
  margin: 0 auto;
}
.prj-flex {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
  color: rgb(107, 103, 103);
}
.slider-item-lft p i,
.slider-item-rit p i {
  margin: 0 10px 0 -30px;
}
.slider-item-lft {
  width: 40%;
}

.slider-item-lft h1,
.slider-item-lft h2,
.slider-item-rit h2 {
  font-weight: 700;
  padding: 30px 0;
  color: #000;
}
.slider-item-lft h2,
.slider-item-rit h2 {
  font-size: 200%;
}
.slider-item-lft h1 {
  font-size: 400%;
}
.slider-item-rit {
  width: 30%;
}
.animated-screen {
  width: 100%;
  margin-bottom: 40px;
  object-fit: cover;
  border: 4px solid rgb(22, 21, 21);
  border-radius: 15px;
  height: 100%;
}

.blogs-box {
  background-color: #fff;
  color: rgb(107, 103, 103);
  scroll-snap-align: start;
  width: 100%;
  margin: 10% auto;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

/* grid section  */
.featured-blogs {
  left: 1%;
  bottom: 18%;
  transform: rotate(-90deg);
  position: absolute;
  letter-spacing: 6px;
  font-weight: 700;
}
.grid-laya {
  padding: 5px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-items-ds {
  box-shadow: 5px 5px 10px rgb(180, 177, 177);
  padding: 8px;
}
.grid-items-ds img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.grid-items-ds span {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.blogs-grid {
  color: rgb(107, 103, 103);
  width: 80%;
  margin: 10% auto;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
  align-content: center;
}
.blogs-grid h2 {
  color: #000;
  font-weight: 700;
}
.title-label {
  width: 60%;
  margin: 40px 0;
}
.blog-mission-box {
  align-content: center;
  justify-content: center;
  width: 95%;
  display: flex;
  align-items: center;
  margin: 40px auto;
  padding-top: 100px;
  gap: 7%;
  float: right;
}
.blog-mission-box h2 p {
  color: rgb(107, 103, 103);
  margin-top: 20px;
  line-height: 28px;
}
.blog-mission-box img {
  width: 35%;
  height: 50%;
  border-radius: 5px;
  object-fit: cover;
}
.blog-lists-box h4 {
  color: rgb(107, 103, 103);
}

.blog-sample-list {
  width: 100vw;
  height: fit-content;
  display: flex;
  background-color: #fff;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  overflow: hidden;

  padding-bottom: 180px;
}
.blog-lists-box {
  border: 1px solid rgb(218, 217, 217);
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  width: 80%;
  color: #000;
  padding: 10px 15px;
}
.blog-lists-box a,
.slider-item-lft a {
  color: rgb(25, 36, 76);
}
.blog-mission-box h3 {
  color: #000;
  margin: 40px 0 20px 0;
}
@media screen and (max-width: 768px) {
  .bg1 {
    background-image: url("../images/blog-portfolio.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(24, 20, 12, 0.93);
    background-blend-mode: overlay;
  }
  .bg2 {
    background-image: url("../images/mockup.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(24, 20, 12, 0.963);
    background-blend-mode: overlay;
  }
  .slider .slider-flex,
  .slida-flex {
    flex-direction: column;
  }
  .slider-flex .slider-item-left {
    width: 80%;
  }
  .blog-descr-content h1 {
    width: 100%;
  }

  .slida-flex .slider-item-left {
    width: 80%;
  }
  .slida-flex .slider-item-right img,
  .slider-flex .slider-item-right img {
    display: none;
  }
  .slida-flex .slider-item-right {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .slida-flex .slider-item-left {
    width: 42%;
  }
}
@media screen and (max-width: 768px) {
  .slider-item-left .exp-label-items {
    width: 100%;

    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
  }

  .slida-flex .slider-item-left {
    width: 85%;
  }
  .slida-flex .slider-item-right {
    width: 0;
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .slider-item-left .exp-label-items span {
    text-transform: capitalize;
  }
}

/* End -Media query for horizontal scroll pages */

@media screen and (max-width: 1064px) {
  .prj-flex {
    gap: 10%;
  }
  .prj-flex .slider-item-lft h1 {
    font-size: 300%;
    margin-top: 40px;
    padding-top: 20px;
  }
  .prj-flex .slider-item-lft {
    width: 42%;
  }
  .featured-blogs {
    left: -2%;
    /* bottom: 150px; */
  }
}
@media screen and (max-width: 995px) {
  .prj-flex {
    gap: 10%;
  }
  .prj-flex .slider-item-lft h1 {
    font-size: 260%;
    margin-top: 80px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 900px) {
  .more-content {
    min-height: 1350px;
  }
  .prj-flex {
    gap: 9%;
  }
  .prj-flex .slider-item-lft h1 {
    font-size: 240%;
    margin-top: 60px;
    padding-top: 50px;
  }
  .prj-flex .slider-item-lft {
    width: 40%;
  }
  .prj-flex .slider-item-rit {
    width: 36%;
  }
  .featured-blogs {
    left: -6%;
    /* bottom: 150px; */
  }
}

@media screen and (max-width: 850px) {
  .blog-prj-wrapper {
    width: 100%;
    margin: 0;
  }
  .prj-flex .slider-item-lft h1 {
    font-size: 230%;
    margin-top: 100px;
    padding-top: 85px;
  }
  .featured-blogs {
    left: -8%;
    /* bottom: 150px; */
  }
  .title-label {
    width: 95%;
  }
  .blogs-box {
    gap: 5%;
  }
}
@media screen and (max-width: 760px) {
  .blogs-box .slider-flex {
    gap: 7%;
  }
  .blogs-box .slider-flex .slider-item-rit {
    width: 40%;
  }
  .blog-mission-box {
    flex-direction: column;
    width: 100%;
  }
  .blog-mission-box img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 620px) {
  .blogs-box,
  .blogs-grid {
    min-height: 1550px;
  }
  .prj-flex,
  .slider-flex {
    gap: 60px;
  }
  .prj-flex .slider-item-lft h1,
  .slider-flex .slider-item-lft h2 {
    font-size: 250%;
    margin-top: 60%;
  }
  .featured-blogs {
    left: -9%;
    bottom: 48%;
  }
  .more-content .prj-flex {
    flex-direction: column;
  }
  .more-content .prj-flex .slider-item-lft {
    width: 80%;
  }
  .more-content .prj-flex .slider-item-rit {
    width: 80%;
    margin-top: 40px;
  }
  .blogs-box .slider-flex {
    flex-direction: column;
  }
  .blogs-box .slider-flex .slider-item-lft {
    width: 80%;
    margin-top: 25%;
  }
  .blogs-box .slider-flex .slider-item-rit {
    width: 80%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 532px) {
  .more-content,
  .blogs-box,
  .blogs-grid {
    min-height: 1650px;
  }
  .prj-flex .slider-item-lft h1,
  .slider-flex .slider-item-lft h2 {
    font-size: 250%;
    margin-top: 80%;
  }
}
@media screen and (max-width: 430px) {
  .more-content,
  .blogs-box {
    min-height: 1650px;
  }

  .slida-flex .slider-item-left h1 {
    font-size: 400%;
  }
  .prj-flex .slider-item-lft h1,
  .slider-flex .slider-item-lft h2 {
    font-size: 250%;
    margin-top: 80%;
  }
  p {
    text-align: left;
  }
  .blogs-grid {
    min-height: 2350px;
  }
  .featured-blogs {
    left: -15%;
    bottom: 45%;
  }
}
@media screen and (max-width: 375px) {
  .slider-item-lft {
    padding-top: 180px;
  }
  .featured-blogs {
    left: -19%;
    bottom: 45%;
  }
  .slider .slider-flex h1,
  .slida-flex h1 {
    font-size: 400%;
  }
  .slider .slider-flex h2 {
    font-size: 150%;
    line-height: 30px;
  }
  .blog-sample-list {
    margin-top: -800px;
  }
}
@media screen and (max-width: 320px) {
  .featured-blogs {
    display: none;
  }
  .more-content,
  .blogs-box {
    min-height: 1850px;
  }
  .blogs-grid {
    min-height: 2650px;
  }
}
