/* ---------------------------------------------- */
/* VERIFY BUTTON */
/* ---------------------------------------------- */

.verify-btn {
  background: none;
  border: 2px solid rgb(39, 113, 252);
  border-radius: 20px;
  padding: 5px 15px;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(39, 113, 252);
}

/* .verify-btn a {
  text-decoration: none;
  color: rgb(148, 115, 7);
  font-weight: 600;
} */

.verify-btn:hover {
  border: 2px solid rgb(148, 115, 7);
  color: rgb(148, 115, 7);
  transform: scale(1.07);
  transition: all 0.8s ease-out;
}


/* ---------------------------------------------- */
/* MAIN BUTTON */
/* ---------------------------------------------- */

.primary-btn:hover {
  color: white;
  border: 2px solid hsl(46, 97%, 39%);
  background: none;
}

.highlighted-btn {
  color: var(--white);
  font-size: 12px;
  background-color: rgb(39, 113, 252);
}

.highlighted-btn:hover {
  background: none;
  border: 2px solid rgb(39, 113, 252);
  color: white;
}

.btn {
  border-radius: 10px;
  padding: 10px 0;
  width: 120px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
}

.primary-btn {
  color: var(--white);
  /* border: 2px solid linen; */
  font-size: 12px;
  background-color: rgb(148, 115, 7);
  position: absolute;
  
}

.loadmore-btn {
  background-color: rgb(189, 119, 177);
  font-family: "Poppins SemiBold";
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.loadmore-btn:hover {
  background-color: rgb(116, 35, 102);
  transition: all 0.8s ease-out;
  box-shadow: 0 1px 3px 2px rgb(189, 119, 177);
}

.classy-btn {
  background-color: rgb(148, 115, 7);
  color: #fff;
  
}

.classy-btn:hover {
  background: none;
  color: rgb(148, 115, 7);
  border: 1px solid rgb(148, 115, 7);
  box-shadow: 1px 5px 0 0  rgb(148, 115, 7);
  transition: all 0.5s ease-out;
}
/* button:hover {
  background-color: rgb(116, 35, 102);
  border: 1px solid gray;
} */

/* ---------------------------------------------- */
/* LIST BUTTON */
/* ---------------------------------------------- */
