.certs-sample {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 370px;
    width: 800px;
    margin: 0 auto;

}

.certs-sample-bg {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/godfrey\'s\ certs.jpeg");
    background-size: unset;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    box-shadow: 0 2px 4px 0 hsl(50, 2%, 30%);
    animation: mymove 5s infinite;
    transition: ease-in-out 3s;
}

.certs-sample-bg:hover {
    background-position: bottom;
}

.interesting-facts {
    margin: 50px auto;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
}

.interesting-facts button {
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(228, 184, 41);
    color: #000;
    transition: ease-in-out 3s;
    cursor: pointer;
}

.interesting-facts button:hover {
    transform: scale(1.2);
}