.navigation-container {
  top: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  top: 50%;
  list-style: none;
  transform: translateY(-50%);
  mix-blend-mode: screen;
}

.navigation li span {
  margin-top: 15px;
}

.navigation-lists {
  width: 10px;
  height: 10px;
  background: none;
  /* color: rgb(148, 115, 7); */
  border: 2px solid rgb(148, 115, 7);
  margin-top: 20px;
  border-radius: 50%;
  /* position: -webkit-sticky; */
  margin-left: 15px;
  transition: all 0.8s;
  mix-blend-mode: screen;
}

.navigation-lists:hover,
#clicked {
  transform: scale(1.8);
}

.side-indicator {
  writing-mode: vertical-rl;
  margin-left: 10px;
  color: lightslategrey;
}
