* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.showcasing-wrapper {
    background-image: url("../../assets/images/gjSp2.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #292d44;
    background-blend-mode: overlay;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.showcasing-container {
    justify-content: center;
    align-items: center;
    
}

.showcasing-items {
    position: relative;
    width: 200px;
    height: 350px;
    transform-style: preserve-3d;
    animation: rotate 25s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}
.showcasing-items span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.showcasing-items span img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60%;
    /* border-radius: 100px; */
    object-fit: cover;
    transition: 2s; 
}

.showcasing-items span:hover img {
    transform: translateY(-50px) scale(1.2);
}
.grp-rotate {
    --i:1;
}
.grpp-rotate {
    --i:2;
}
.grrp-rotate {
    --i:3;
}
.ggrp-rotate {
    --i:4;
}
.grup-rotate {
    --i:5;
}
.grupp-rotate {
    --i:6;
}
.grrup-rotate {
    --i:7;
}
.ggrup-rotate {
    --i:8;
}