.works-container {
  height: 100vh;
  position: relative;
}
.works-parent {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: fit-content;
  background-image: url("../../assets/images/outdoorbygjef.jpg");
  background-blend-mode: overlay;
  background-color: hsla(0, 0%, 0%, 0.774);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.works-title h1 {
  color: #fff;
  font-size: 40px;
  margin: 20px auto;
  text-align: center;
}

.works-subheading {
  margin-top: 20px;
  margin-bottom: 30px;
}

.sample-card h2 {
  margin-top: 40px;
}

.works-description hr {
  display: block;
  border-style: inset;
  border: 1px solid white;
}

.card-img {
  width: 80%;
  margin: 0 auto;
}

.more-works {
  margin-top: 10px;
}

.icon-links a {
  color: rgb(72, 136, 255);
  font-weight: bolder;
}



* {
  transition: all 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@media screen and (max-width: 980px) {
  .works-title {
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 569px) {
  
  .works-title {
    padding-bottom: 80px;
  }

  .works-subheading {
    margin-top: 0;
    padding-bottom: 80px;
  }

  .card-img {
    width: 100%;
  }

  .icon-links span {
    font-size: 16px;
  }
  

  figure.effect-blog p.description {
    font-size: 14px;
    padding-left: 10px;
  }
}
